* {
    font-family: "Manrope", "Noto Sans", sans-serif;;
}
body{
    background-color: #111418;
    padding: 1rem 1rem 0 1rem;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #111418;
}

.ycdlogo{
  padding-left: 20%;
  margin-bottom: 1rem;
}
.ycdlogo img{
  width: 120px;
  height: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #283039;
}

.menu-item.active {
  background-color: #283039;
}

.icon{
    width: 20px;
    height: auto;
}

.menu-item p {
  color: #ffffff;
  font-size: 0.750rem;
  font-weight: 500;
}.notification {
      display: none;
      position: absolute;
      top: 0;
      left: 43%;
      color: white;
      padding: 15px;
      border-radius: 5px;
      margin-top: 15px;
      animation: fadeIn 0.4s ease;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(-10px); }
      to { opacity: 1; transform: translateY(0); }
    }

.error{background-color: #f44336;}
.success{background-color: #14A44D;}

@media print {
  
  /* 1. Cache tout par défaut */
  body > * {
    display: none !important;
  }

  /* 2. Montre SEULEMENT le modal du RIB et ses parents */
  body, #display_rib_overlay {
    display: block !important;
  }

  /* 3. Assure-toi que le modal prend toute la page */
  #display_rib_overlay {
    position: static !important;
    width: 100% !important;
    height: 100% !important;
    background: white !important; /* Force un fond blanc pour l'impression */
  }

  /* 4. Cache le bouton "Fermer" ou "Exporter" du modal */
  #display_rib_overlay #display_rib_close_button,
  #display_rib_overlay #export_pdf_button {
    display: none !important;
  }
}